# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build

.idea/*
!.idea/dictionaries

*.js
!jest.*.js

*.env
/.env

yarn-error.log
dist
coverage
/db/
tsconfig.tsbuildinfo
