# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build

.idea/*
!.idea/dictionaries

*.js
!jest.*.js

.env.development
.env.production

.vscode
.idea

package-lock.json
.env.staging
